parameters:
    level: 6
    paths:
        - modules/framework/app
        - modules/card-games/app
        - modules/poker-game/app
    ignoreErrors:
        - '#.*no value type specified in iterable type array.*#'
        - '#.*Call to an undefined method.*#'
        - '#.*ReflectionClass.*#'
        - '#.*defaultName.*#'