{% extends 'base.html.twig' %}

{% block body %}
<div id="app" class="container-sm">

    <h1>Welcome</h1>

    {% if user is not null %}
        <div class="alert alert-success" role="alert">Thanks for signing up {{ user }}!</div>
    {% endif %}

    <p>Aye Poker is a simple poker game developed in PHP & Vue JS.</p>

    <div class="ms-1 mb-3">
        <a class="btn btn-primary me-1" href="/play/plhe">Play PLHE Now!</a>
        <a class="btn btn-primary" href="/play/plom">Play PLOM Now!</a>
    </div>

</div>
{% endblock %}
