{% extends 'base.html.twig' %}

{% block body %}
<div class="container-sm">

    <h1>Welcome</h1>

    {% if user is not null %}
        <div class="alert alert-success" role="alert">Thanks for signing up {{ user }}!</div>
    {% endif %}

    <p>Aye Poker is a simple poker game developed in PHP & Vue JS.</p>

    <div class="ms-1 mb-3">
        <a class="btn btn-primary me-1" href="{{ path('create_game') }}">New Game</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary me-1" href="{{ path('play_plhe') }}">Play Now!</a>
        {% endif %}
        {# <a class="btn btn-primary" href="{{ path('play_plom') }}">Play PLOM Now!</a> #}
    </div>

</div>
{% endblock %}
