{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-4">
            <h2>Hand History</h2>
            <div id="app">
                <p>Will be listed here...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
